<div th:fragment="header">
  <!-- this is header -->


  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#brugerInfo">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">intranet - PL-Media</a>
      </div>

      <div class="collapse navbar-collapse" id="brugerInfo">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" th:text="${test}">UserEmailTest</a></li>
          <li>
            <form th:action="@{/logout}" class="navbar-form logout-btn" method="post">
              <button type="submit" class="btn" value="Sign Out">Log ud</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

