<div >
  <!-- this is header -->
  <nav th:fragment="header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#brugerInfo">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><i class="fa fa-child"></i> Intranet - PL-Media</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a th:if="${Edit_settings}" th:class="navbar" href="/admin/settings">Indstillinger</a></li>
      </ul>

      <div class="collapse navbar-collapse" id="brugerInfo">
        <ul class="nav navbar-nav navbar-right">
          <li><a th:href="(${employeeGroups}) ? (@{/admin/details?employee=} + ${currentUser.getUserId()}) : @{/parents}" th:text="${currentUser.getUserEmail()}">UserEmailTest</a></li>
          <li>
            <form th:action="@{/logout}" class="navbar-form logout-btn" method="post">
              <button type="submit" class="btn btn-danger" value="Sign Out">Log ud</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

