
<!-- this is header -->

<div th:fragment="admin" th:if="${employeeGroups}" class="col-sm-3 col-lg-2 sidebar">
  <!--<ul class="nav nav-sidebar">
    <li><a class="newuserbtn" style="" href="#">+ Ny Bruger</a></li>
  </ul>-->
  <ul class="nav nav-sidebar">
    <li>
      <a th:class="(${allUsers}) ? 'active' : (${employeeDetails} ? 'semiActive')" href="/admin">Personale <i th:if="${employeeDetails}" class="fa fa-user pull-right" aria-hidden="true"></i></a>
    </li>

    <li th:each="group : ${employeeGroups}" th:class="${currentGroup} ? ((${group.getId()} == ${currentGroup.getId()}) ? 'active')">
      <a th:attrappend="href=${group.getId()}" th:text="'- ' + ${group.getGroupName()}" href="/admin/employees?groupID=" >Thymeleaf Employee Group</a>
    </li>


    <!--<li class="active"><a href="/admin/employees" >Admin/Leder</a></li>
    <li><a href="/admin/employees?groupID=1" >Ansatte</a></li>
    <li><a href="/admin/employees?groupID=2" >Praktikanter</a></li>-->
  </ul>
  <ul class="nav nav-sidebar">
    <li>
      <a th:class="${children} ? 'active' : (${childDetails} ? 'semiActive')" href="/admin/children">Børn <i th:if="${childDetails}" class="fa fa-user pull-right" aria-hidden="true"></i></a>
    </li>
    <li>
      <a th:class="${parents} ? 'active' : (${parentDetails} ? 'semiActive')" href="/admin/parents">Forældre <i th:if="${parentDetails}" class="fa fa-user pull-right" aria-hidden="true"></i></a>
    </li>
  </ul>

</div>

<!-- this is header -->

<div th:fragment="parent" th:if="!${employeeGroups}" class="col-sm-3 col-md-2 sidebar">
  <!--<ul class="nav nav-sidebar">
    <li><a class="newuserbtn" style="" href="#">+ Ny Bruger</a></li>
  </ul>-->
  <ul class="nav nav-sidebar">
    <li class="active"><a href="/parents">Overblik</a></li>

    <h1>Børn</h1>
    <a href="/parents/children" class="list-group-item active">
      Oliver (Kan klikkes på)
    </a>

    <!--BOGUS USERS.. KAN SLETTES NÅR FÆRDIG-->
    <a href="#" class="list-group-item">Karla Hansen</a>
    <a href="#" class="list-group-item">Oscar de Fleur</a>
    <a href="#" class="list-group-item">Alexander Lind Nissen</a>
    <!-- <li><a href="#">Bette Søren</a></li>
    <li><a href="#">Lille Lise</a></li> -->
  </ul>

</div>

