
<!-- EMPLOYEE SIDEBAR
     Model variable Requirements:
     - employeeGroups (Arraylist<Group>)
     - a current menu variable:
       - allUsers (Arraylist<Employee>) OR employeeDetails
         OR currentGroup (Group object)
         OR parents (Arraylist<Parent>) OR parentDetails
         OR children (Arraylist<Child>) OR child
-->


<div th:fragment="admin" th:if="${employeeGroups}" class="col-sm-3 col-lg-2 sidebar">
  <ul class="nav nav-sidebar">
    <li>
      <a th:class="(${allUsers}) ? 'active' : (${employeeDetails} ? 'semiActive')" href="/admin">Personale <i th:if="${employeeDetails}" class="fa fa-user pull-right" aria-hidden="true"></i></a>
    </li>

    <li th:each="group : ${employeeGroups}" th:class="${currentGroup} ? ((${group.getId()} == ${currentGroup.getId()}) ? 'active')">
      <a th:attrappend="href=${group.getId()}" th:text="'- ' + ${group.getGroupName()}" href="/admin/employees?groupID=" >Thymeleaf Employee Group</a>
    </li>
  </ul>

  <ul class="nav nav-sidebar">
    <li>
      <a th:class="${children} ? 'active' : (${child} ? 'semiActive')" href="/admin/children">Børn <i th:if="${child}" class="fa fa-user pull-right" aria-hidden="true"></i></a>
    </li>
    <li>
      <a th:class="${parents} ? 'active' : (${parentDetails} ? 'semiActive')" href="/admin/parents">Forældre <i th:if="${parentDetails}" class="fa fa-user pull-right" aria-hidden="true"></i></a>
    </li>
  </ul>

  <ul class="nav nav-sidebar">
    <li>
      <a th:class="${newWing} ? 'active'" href="/admin/settings">Indstillinger</a>
    </li>
  </ul>
</div>

<!-- PARENT SIDEBAR -->

<div th:fragment="parent" th:if="!${employeeGroups}" class="col-sm-3 col-md-2 sidebar">
  <!--<ul class="nav nav-sidebar">
    <li><a class="newuserbtn" style="" href="#">+ Ny Bruger</a></li>
  </ul>-->
  <ul class="nav nav-sidebar">
    <li>
         <a th:class="${overblik} ? 'active' " href="/parents">Overblik  </a>


    </li>
  </ul>

    <ul class="nav nav-sidebar">
    <li>
      <h1>Børn</h1>
    </li>
    <li th:each="child : ${children}">
      <a th:attrappend="href=${child.getChildId()}" href="/parents/children?childId=" class="list-group-item active">
        Oliver (Kan klikkes på)
      </a>
    </li>
  </ul>

</div>

