
<!-- this is header -->

<div th:fragment="admin" class="col-sm-3 col-lg-2 sidebar">
  <!--<ul class="nav nav-sidebar">
    <li><a class="newuserbtn" style="" href="#">+ Ny Bruger</a></li>
  </ul>-->
  <ul class="nav nav-sidebar">
    <li th:class="(${allUsers} or ${user}) ? 'active'">
      <a href="/admin">Personale</a>
      <li th:if="${user}" class=" profile">
        <a><i  class="fa fa-user" aria-hidden="true"></i></a>
      </li>
    </li>

    <li th:each="group : ${employeeGroups}" th:class="${currentGroup} ? ((${group.getId()} == ${currentGroup.getId()}) ? 'active')">
      <a th:attrappend="href=${group.getId()}" th:text="'- ' + ${group.getGroupName()}" href="/admin/employees?groupID=" >Thymeleaf Employee Group</a>
    </li>


    <!--<li class="active"><a href="/admin/employees" >Admin/Leder</a></li>
    <li><a href="/admin/employees?groupID=1" >Ansatte</a></li>
    <li><a href="/admin/employees?groupID=2" >Praktikanter</a></li>-->
  </ul>
  <ul class="nav nav-sidebar">
    <li th:class="${children} ? 'active'"><a href="/admin/children">Børn</a></li>
    <li th:class="${parents} ? 'active'"><a href="/admin/parents">Forældre</a></li>
  </ul>

</div>

<!-- this is header -->

<div th:fragment="parent" class="col-sm-3 col-md-2 sidebar">
  <!--<ul class="nav nav-sidebar">
    <li><a class="newuserbtn" style="" href="#">+ Ny Bruger</a></li>
  </ul>-->
  <ul class="nav nav-sidebar">
    <li class="active"><a href="/parents">Overblik</a></li>

    <!-- <li><a href="#">Bette Søren</a></li>
    <li><a href="#">Lille Lise</a></li> -->
  </ul>

</div>

