/*
 * Bootstrap style overwrite
 * 
 */

/*Set the font-sizes*/
a, .btn {
  font-size: 18px;
}

a.navbar-brand {
  font-size: 30px;
  line-height: 15px;
}

a.list-group-item {
  font-size: 18px;
}

.table > tbody > tr > td, .table > tbody > tr > th {
  vertical-align: center;
  font-size: 22px;
}


/*Set the font*/
h1, h2, h3, h4, h5 {
  font-family: 'Chewy', cursive;
}

h5{
  font-size:26px ;
}

h6{
  font-size: 20px;
}

p, a, div, h6, .getSerious {
  font-family: 'Open Sans', sans-serif;
}

/*Square all the things!*/
input.form-control, button.navbar-toggle,
.btn, a.list-group-item, a.list-group-item.active,
a.list-group-item:first-child, a.list-group-item:last-child, div.modal-content{
  border-radius: 0;
}

/*Pencil no button*/
.btn-edit {
  color: #06a3b9;
  background-color: transparent;
  border-color: transparent;
}

/*NAVBAR TOGGLE in mobile mode, tilpasning*/
.navbar-toggle {
  margin: 0;
  padding: 17px 19px;
}

/*Make logout button fill out the top bar
  And color it
*/
.logout-btn {
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .logout-btn, .logout-btn > button.btn {
    width: 100%;
    border-bottom: 0;
  }

  .navbar-nav {
    margin-bottom: 0;
  }
}


.logout-btn button {
  height: 50px;
  width: 80px;
  color: #fff;
  background-color: #df1d3b;
}

/*Make it change color on hover*/
.logout-btn button:hover {
  color: #fff;
  background-color: #ff2244;
}


a > h1 , ul.nav.nav-sidebar > li > a
{
  color: #06a3b9;
}

ul.nav.nav-sidebar > li.active > a
{
  color: #FFF;
}

.btn-success, .btn-success:hover,
ul.nav.nav-sidebar > li > a.newuserbtn,
ul.nav.nav-sidebar > li > a.newuserbtn:hover{
  background-color: #4ac439;
  color: #fff;
  border-color: #4ac439;
}

.btn-success:hover,
ul.nav.nav-sidebar > li > a.newuserbtn:hover{
  background-color: #49d338;
}

/*
   LOGIN CSS
*/

div.alert {
  border-radius: 0px;
}

div.alert-error {
  background-color: #e02127;
  color: white;
}

#inputEmail {
  margin-bottom: -2px;
}

#inputPassword {
  margin-bottom: 0;
}

.form-signin img.login-img {
  width: 300px;
  height: auto;
  margin-bottom: 30px;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 0;
}



  /*
   * Base structure
   */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding: 18px;
  padding-right: 20px;
  padding-left: 20px;
  
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus,
a.list-group-item.active,
a.list-group-item.active:focus,
a.list-group-item.active:hover

{
  color: #fff;
  border-color: transparent;
  background-color: #46b0cc;
}

.nav-sidebar > .active > a:hover,
a.list-group-item.active:hover
{
  background-color: #52bcd8;
}



/*
 * Main content
 */

.main {
  padding: 20px;
  padding-top: 0px;
}
@media (min-width: 768px) {
  .main {
    padding-top: 0;
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

