<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="fragments/head :: head">
    <!--Denne her normaliserer vores html siders head sektion, så vi kun skal skrive det et sted-->
    <div >TEST</div>
  </head>

  <body>

    <div th:replace="fragments/header :: header"/>

    <div class="container-fluid">
      <div class="row">

        <div th:replace="fragments/sidebars :: admin"/>

        <div class="col-sm-9 col-sm-offset-3 col-lg-8 col-lg-offset-3 main">
          <div class="row">
            <ul class="list-inline">
              <li><h1 th:text="${currentGroup} ? ${currentGroup.getGroupName()} : (${parents} and ${Read_all_parents} ? 'Forældre' : (${children} and ${Read_all_children} ? 'Børn' : (${allUsers} ? 'Personale')))">Admins/Ledere</h1></li>
              <li th:if="${currentGroup}"><h3 th:text="'(' + ${currentGroup.getGroupDescription()} + ')'"></h3></li>
              <h2 class="getSerious" th:if="!${Read_all_parents} and !${Read_all_children} and !${currentGroup} and !${allUsers}">Du har ikke adgang dette, bed din administrator om lov.</h2>
            </ul>
          </div>
          <!--LIST of users/parents etc-->
          <div class="row">
            <div class="list-group" style="max-height: 400px; border-radius: 0">
              <button th:if="${Create_employee} ? (${currentGroup} or ${allUsers})" class="btn btn-success btn-new" data-toggle="modal" data-target="#newEmp">Ny Medarbejder</button>
              <button th:if="${Create_parent} ? ${parents}" class="btn btn-success btn-new" data-toggle="modal" data-target="#newPar">Ny Forældre</button>
              <button th:if="${Create_child} ?${children}" class="btn btn-success btn-new" data-toggle="modal" data-target="#newChild">Nyt Barn</button>
              <!-- Generering af listen, baseret på hvad templaten bliver fodret med -->
              <a th:each="employee : ${employees}" href="/admin/details?employee=" th:text="${employee.getFirstName()}" th:attrappend="href=${employee.getUserId()}" class="list-group-item">Thymeleaf Employee</a>
              <a th:if="${Read_all_parents}" th:each="parent : ${parents}"     href="/admin/details?parent=" th:text="${parent.getFirstName()}" th:attrappend="href=${parent.getUserId()}" class="list-group-item">Thymeleaf Parent</a>
              <a th:if="${Read_all_children}" th:each="child : ${children}"     href="/admin/details?child=" th:text="${child.getFirstName()}" th:attrappend="href=${child.getChildId()}" class="list-group-item">Thymeleaf Child</a>

              <!--<a href="/admin/details?user=32122" class="list-group-item">
                Kurt (Kan klikkes på)
              </a>-->

            </div>
          </div>
        </div>
      </div>
    </div>

    <div th:if="${newEmployee}" id="newEmp" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <form class="" th:action="@{/admin/create/employee}" method="post" th:object="${newEmployee}">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Opret ny Ansat</h4>
            </div>
            <div class="modal-body">

              <div class="form-group">
                <label for="fname">Fornavn:</label>
                <input type="text" class="form-control" id="fname" name="firstName" th:field="*{firstName}"/>
              </div>
              <div class="form-group">
                <label for="lname">Efternavn:</label>
                <input type="text" class="form-control" id="lname" name="lastName" th:field="*{lastName}"/>
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email" name="userEmail" th:field="*{userEmail}"/>
              </div>
              <div class="form-group">
                <label for="pw">Adgangskode:</label>
                <input type="password" class="form-control" id="pw" name="password" th:field="*{password}"/>
              </div>


              <div class="checkbox">
                <div class="row">
                  <div class="col-sm-4">
                    <label><input type="checkbox" value="1" th:field="*{permissions}"/> Permission 1</label>
                  </div>
                  <div class="col-sm-4">
                    <label><input type="checkbox" value="2" th:field="*{permissions}"/> Permission 2</label>
                  </div>
                  <div class="col-sm-4">
                    <label><input type="checkbox" value="3" th:field="*{permissions}"/> Permission 3</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Gem</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Annuller</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div th:if="${newParent}" id="newPar" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <form class="" th:action="@{/admin/create/parent}" method="post" th:object="${newParent}">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Opret ny Forælder</h4>
            </div>
            <div class="modal-body">

              <div class="form-group">
                <label for="parentFName">Fornavn:</label>
                <input type="text" class="form-control" id="parentFName" name="firstName" th:field="*{firstName}"/>
              </div>
              <div class="form-group">
                <label for="parentLName">Efternavn:</label>
                <input type="text" class="form-control" id="parentLName" name="lastName" th:field="*{lastName}"/>
              </div>
              <div class="form-group">
                <label for="parentEmail">Email:</label>
                <input type="text" class="form-control" id="parentEmail" name="userEmail" th:field="*{userEmail}"/>
              </div>
              <div class="form-group">
                <label for="parentPassword">Adgangskode:</label>
                <input type="password" class="form-control" id="parentPassword" name="password" th:field="*{password}"/>
              </div>


              <div class="checkbox">
                <div class="row">
                  <div class="col-sm-4">
                    <label><input type="checkbox" value="1" th:field="*{permissions}"/> Parent Permission 1</label>
                  </div>
                  <div class="col-sm-4">
                    <label><input type="checkbox" value="2" th:field="*{permissions}"/> Parent Permission 2</label>
                  </div>
                  <div class="col-sm-4">
                    <label><input type="checkbox" value="3" th:field="*{permissions}"/> Parent Permission 3</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Gem</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Annuller</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div th:if="${newChild}" id="newChild" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <form class="" th:action="@{/admin/create/child}" method="post" th:object="${newChild}">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Opret nyt Barn</h4>
            </div>
            <div class="modal-body">

              <div class="form-group">
                <label for="childFName">Fornavn:</label>
                <input type="text" class="form-control" id="childFName" name="firstName" th:field="*{firstName}"/>
              </div>
              <div class="form-group">
                <label for="childLName">Efternavn:</label>
                <input type="text" class="form-control" id="childLName" name="lastName" th:field="*{lastName}"/>
              </div>

              <div class="form-group">
                <label for="address">Adresse:</label>
                <input type="text" class="form-control" id="address" name="address" th:field="*{address}"/>
              </div>

              <div class="form-group">
                <label for="address">Adresse:</label>
                <input type="date" class="form-control" id="birthday" name="birthday" th:field="*{birthday}"/>
              </div>

              <select th:field="*{wingId}" name="wingId" required="true" class="form-control">
                <option th:each="wing : ${allWings}" th:value="${wing.getWingID()}" th:text="${wing.getWingName()}"></option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Gem</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Annuller</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <!--JAVASCRIPT (skal være til sidst for gode loading tider)-->
    <!-- BOOTSTRAP MaxCDN jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- BOOTSTRAP MaxCDN Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
