<!DOCTYPE html>
<!--Thymeleaf xlmns-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <title>Template</title>

  <!--Mobil integration-->
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- BOOTSTRAP MaxCDN Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

</head>
<body>

<!--Bootstrap container class er vigtig for at det virker, giver en lille margen ud til siderne
i højre og venstre side-->
<div class="container">

  <div class="row">
    <div th:replace="fragments/header :: header"/>
  </div>

  <!--For at Bootstrap grid system virker, her er en row.-->
  <div class="row">

    
    <div style="padding: 0" class="col-md-3">
        <a class="btn btn-block btn-success">+ New User</a>
    </div>
    <div class="pull-right" style="width: 300px"><input class="form-control" id="myInput" type="text" placeholder="Search.."/>
    </div>
    <br></br>
    <br></br>
  </div>

  <div class="row">
    <div class="col-md-2" style="overflow-y: auto;">
      <div class="row">
        <div class="list-group">
          <a href="#" class="list-group-item active">Admins <span class="badge">8</span></a>
          <a href="#" class="list-group-item">Employees <span class="badge">15</span></a>
          <a href="#" class="list-group-item">Interns <span class="badge">2</span></a>
        </div>
      </div>
      <div class="row">
        <div class="list-group">
          <a href="#" class="list-group-item">Children <span class="badge">67</span></a>
          <a href="#" class="list-group-item">Parents <span class="badge">111</span></a>
          <a href="#" class="list-group-item">Legal Guardians <span class="badge">10</span></a>
          <a href="#" class="list-group-item">Relatives <span class="badge">210</span></a>
        </div>
      </div>
    </div>

    <div class="col-md-10" style="overflow-y: auto; max-height: 40em;">
      <div class="list-group" style="max-height: 400px">
        <a href="#" class="list-group-item">
          Bo
        </a>
        <a href="#" class="list-group-item">Lis</a>
        <a href="/details" class="list-group-item active">
          Kurt (Kan klikkes på)
        </a>
        <a href="#" class="list-group-item">Hans</a>
        <a href="#" class="list-group-item">Inge</a>
        <a href="#" class="list-group-item">Else</a>
        <a href="#" class="list-group-item">Rebekka</a>
        <a href="#" class="list-group-item">Karsten</a>
        <a href="#" class="list-group-item">Bo</a>
        <a href="#" class="list-group-item">Lis</a>
        <a href="#" class="list-group-item">Kurt</a>
        <a href="#" class="list-group-item">Hans</a>
        <a href="#" class="list-group-item">Inge</a>
        <a href="#" class="list-group-item">Else</a>
        <a href="#" class="list-group-item">Rebekka</a>
        <a href="#" class="list-group-item">Karsten</a>
        <a href="#" class="list-group-item">Bo</a>
        <a href="#" class="list-group-item">Lis</a>
        <a href="#" class="list-group-item">Kurt</a>
        <a href="#" class="list-group-item">Hans</a>
        <a href="#" class="list-group-item">Inge</a>
        <a href="#" class="list-group-item">Else</a>
        <a href="#" class="list-group-item">Rebekka</a>
        <a href="#" class="list-group-item">Karsten</a>
      </div>
    </div>
  </div>
</div>

<!--JAVASCRIPT (skal være til sidst for gode loading tider)-->
<!-- BOOTSTRAP MaxCDN jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- BOOTSTRAP MaxCDN Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>