<!DOCTYPE html>
<!--Thymeleaf xlmns-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head">
  <!--Denne her normaliserer vores html siders head sektion, så vi kun skal skrive det et sted-->
</head>



<body>

<!--Bootstrap container class er vigtig for at det virker, giver en lille margen ud til siderne
i højre og venstre side-->
<div class="container">

  <div class="row">
    <div th:replace="fragments/header :: header"/>

  </div>

  <!--For at Bootstrap grid system virker, her er en row.-->

  <div th:replace="fragments/sidebars :: parent"/>
  <div th:replace="fragments/sidebars :: admin"/>




  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-lg-8 col-lg-offset-3 main">
      <table class="table">
        <thead>
        <h1 th:text="${child.getFirstName()} + ' ' + ${child.getLastName()}">Dit Barn</h1>
        <tr>
          <th>Beskrivelse</th>
          <th>Information</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>Fornavn:</th>
          <td th:text="${child.getFirstName()}"/>
          <td><a href="#" class="btn btn-edit pull-right" data-toggle="modal" data-target="#editName"><i class="fa fa-pencil"></i></a></td>
        </tr>
        <tr>
          <th>Efternavn</th>
          <td th:text="${child.getLastName()}"/>
          <td><a href="#" class="btn btn-edit pull-right" data-toggle="modal" data-target="#editName"><i class="fa fa-pencil"></i></a></td>
        </tr>
        <tr>
          <th>Fødselsdag:</th>
          <td th:text="${child.getBirthday()}"/>
          <td><a href="#" class="btn btn-edit pull-right" data-toggle="modal" data-target="#editBirthday"><i class="fa fa-pencil"></i></a></td>
        </tr>
        <tr>
          <th>Adresse:</th>
          <td th:text="${child.getAddress()}"/>
          <td><a href="#" class="btn btn-edit pull-right" data-toggle="modal" data-target="#editAddress"><i class="fa fa-pencil"></i></a></td>
        </tr>
        <tr>
          <th>forældre:</th>
          <td th:="${child.getParents()}"/>
          <td><a href="#" class="btn btn-edit pull-right" data-toggle="modal" data-target="#editParents"><i class="fa fa-pencil"></i></a></td>
        </tr>

        </tbody>
        </table>
      <div class="modal">
      </div>


    </div>
  </div>



  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-lg-8 col-lg-offset-3 main">


      <table class="table ">
        <tr>
          <th>Stue:</th>
          <td th:="${child.getWingId}"/>
          <td th:="${wing.getWingName}"/>
          <td><a href="#" class="btn btn-edit pull-right" data-toggle="modal" data-target="#editWing"><i class="fa fa-pencil"></i></a></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-lg-8 col-lg-offset-3 main ">
        <table class="table">
          <tr>
            <th>Personer der må hente barnet:</th>
            <td>Andreas Nissen</td>
            <td><a href="#" class="btn btn-edit pull-right" data-toggle="modal" data-target="#editGetters"><i class="fa fa-pencil"></i></a></td>
          </tr>
        </table>
    </div>
  </div>





  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-lg-8 col-lg-offset-3 main">

     <table class="table-bordered">
      <ul class="list-inline">
        <h5> Allergener: <a href="#" class="btn btn-edit " data-toggle="modal" data-target="#editAllergier"><i class="fa fa-pencil"></i></a> </h5>
        <li th:each="allergen : ${child.getAllergens()}" class="list-group-item">
        <h6 th:text="${allergen.getAllergenName()}"></h6>
        </li>
        <li><h6>nøddeallergi</h6></li>
      </ul>
     </table>
    </div>
  </div>




  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-lg-8 col-lg-offset-3 main">

      <table class="table-bordered">
        <ul class="list-inline">
          <h5> Anden Information:<a href="#" class="btn btn-edit " data-toggle="modal" data-target="#editInfo"><i class="fa fa-pencil"></i></a>  </h5>
          <div class="form-group">
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
          <li><h6></h6></li>
        </ul>
      </table>
    </div>
  </div>
</div>










<!-- Modal's -->



<!--Edit Name-->

<div id="editName" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--Kryds knap-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Name</h4>
      </div>
      <div class="modal-body">
        <input type="text"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>


<div id="editEmail" class="modal fade" role="dialog">
  <div class="modal-dialog">



    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--Kryds knap-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Email</h4>
      </div>
      <div class="modal-body">
        <input type="text"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<div id="editBirthday" class="modal fade" role="dialog">
  <div class="modal-dialog">



    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--Kryds knap-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Fødselsdag</h4>
      <div class="modal-body">
        <input type="text"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
</div>

<div id="editAddress" class="modal fade" role="dialog">
  <div class="modal-dialog">



    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--Kryds knap-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Adresse</h4>
        <div class="modal-body">
          <input type="text"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="editParents" class="modal fade" role="dialog">
  <div class="modal-dialog">



    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--Kryds knap-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Forældre</h4>
        <div class="modal-body">
          <input type="text"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="editWing" class="modal fade" role="dialog">
  <div class="modal-dialog">



    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--Kryds knap-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Stue</h4>
        <div class="modal-body">
          <input type="text"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="editNaptime" class="modal fade" role="dialog">
  <div class="modal-dialog">



    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--Kryds knap-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sovetider</h4>
        <div class="modal-body">
          <input type="text"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="editGetters" class="modal fade" role="dialog">
  <div class="modal-dialog">



    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--Kryds knap-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hentere</h4>
        <div class="modal-body">
          <input type="text"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="editInfo" class="modal fade" role="dialog">
  <div class="modal-dialog">



    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--Kryds knap-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Information</h4>
        <div class="modal-body">
          <input type="text"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="editPassword" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--Kryds knap-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Password</h4>
      </div>
      <div class="modal-body">
        <input type="password"/>
        <input type="password"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>




<div id="editGroups" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Permissions</h4>
      </div>
      <div class="modal-body">
        <div class="checkbox">
          <label><input type="checkbox" value=""/>Adminss</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value=""/>Employees</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value=""/>Interns</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>


<!--Edit Permissions-->

<div id="editAllergier" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Allergier</h4>
      </div>
      <div class="modal-body">
        <div class="checkbox">
          <label><input type="checkbox" value=""/>Nøddeallergi</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value=""/>Parfumeallergi</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value=""/>Lactoseintolerent</label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<!--JAVASCRIPT (skal være til sidst for gode loading tider)-->
<!-- BOOTSTRAP MaxCDN jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- BOOTSTRAP MaxCDN Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>