<!DOCTYPE html>
<!--Thymeleaf xlmns-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <!--Denne her normaliserer vores html siders head sektion, så vi kun skal skrive det et sted-->
  <div th:replace="fragments/head :: head"/>
</head>



<body>

<!--Bootstrap container class er vigtig for at det virker, giver en lille margen ud til siderne
i højre og venstre side-->
<div class="container">

  <div class="row">
    <div th:replace="fragments/header :: header"/>
  </div>

  <!--For at Bootstrap grid system virker, her er en row.-->

  <div th:replace="fragments/sidebars :: parent"/>


  </div>
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-lg-8 col-lg-offset-3 main">
      <table class="table table-striped table-bordered">
        <thead>
        <h1>Dit Barn</h1>
        <tr>
          <th>Beskrivelse</th>
          <th>Information</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>Fornavn:</th>
          <td>Oliver</td>
          <td><a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#editName">Edit</a></td>
        </tr>
        <tr>
          <th>Efternavn:</th>
          <td>Lind Nissen</td>
          <td><a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#editName">Edit</a></td>
        </tr>
        <tr>
          <th>Fødselsdag:</th>
          <td>11.11-2010</td>
          <td><a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#editBirthday">Edit</a></td>
        </tr>
        <tr>
          <th>Adresse:</th>
          <td>augustvej 52</td>
          <td><a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#editAddress">Edit</a></td>
        </tr>
        <tr>
          <th>forældre:</th>
          <td>Phillip Lind Nissen</td>
          <td><a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#editParents">Edit</a></td>
        </tr>

        </tbody>
        </table>
      <div class="modal">
      </div>


    </div>
  </div>


<div class="container">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-lg-8 col-lg-offset-3 main">


      <table class="table table-condensed table-bordered ">
      <tr>
        <th>Stue:</th>
        <td>Lilla</td>
        <td><a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#editWing">Edit</a></td>
      </tr>
      <tr>
        <th>sovetider:</th>
        <td>kl 11 - 13</td>
        <td><a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#editNaptime">Edit</a></td>
      </tr>
      </table>
    </div>
  </div>

    <div class="col-sm-9 col-sm-offset-3 col-lg-8 col-lg-offset-3 main ">
      <div align="center-right">
      <table class="table table-condensed table-bordered ">
      <tr>
        <th>Folk der må hente børnene:</th>
        <td>Andreas Nissen</td>
        <td><a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#editGetters">Edit</a></td>
      </tr>

      </table>
      </div>
    </div>
  </div>


<div class="container">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-lg-8 col-lg-offset-3 main">

     <table class="table-bordered">
      <ul class="list-inline">
        <h5> Allergener: </h5>
        <li><h6>nøddeallergi</h6></li>
        <li><h6>parfumeallergi</h6></li>
        <li><h6>lactoseintolerent</h6></li>
        <li><a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#editAllergier">Edit</a></li>
      </ul>
     </table>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-lg-8 col-lg-offset-3 main">

      <table class="table table-bordered">
<tr>
  <th>anden info:</th>
  <td>bla bla bla</td>
  <td><a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#editInfo">Edit</a></td>
</tr>
      </table>
    </div>
  </div>
</div>







<!-- Modal's -->



<!--Edit Name-->

<div id="editName" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--Kryds knap-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Name</h4>
      </div>
      <div class="modal-body">
        <input type="text"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>


<div id="editEmail" class="modal fade" role="dialog">
  <div class="modal-dialog">



    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--Kryds knap-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Email</h4>
      </div>
      <div class="modal-body">
        <input type="text"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<div id="editBirthday" class="modal fade" role="dialog">
  <div class="modal-dialog">



    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--Kryds knap-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Fødselsdag</h4>
      <div class="modal-body">
        <input type="text"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
</div>

<div id="editAddress" class="modal fade" role="dialog">
  <div class="modal-dialog">



    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--Kryds knap-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Adresse</h4>
        <div class="modal-body">
          <input type="text"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="editParents" class="modal fade" role="dialog">
  <div class="modal-dialog">



    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--Kryds knap-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Forældre</h4>
        <div class="modal-body">
          <input type="text"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="editWing" class="modal fade" role="dialog">
  <div class="modal-dialog">



    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--Kryds knap-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Stue</h4>
        <div class="modal-body">
          <input type="text"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="editNaptime" class="modal fade" role="dialog">
  <div class="modal-dialog">



    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--Kryds knap-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sovetider</h4>
        <div class="modal-body">
          <input type="text"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="editGetters" class="modal fade" role="dialog">
  <div class="modal-dialog">



    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--Kryds knap-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hentere</h4>
        <div class="modal-body">
          <input type="text"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="editInfo" class="modal fade" role="dialog">
  <div class="modal-dialog">



    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--Kryds knap-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Information</h4>
        <div class="modal-body">
          <input type="text"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="editPassword" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--Kryds knap-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Password</h4>
      </div>
      <div class="modal-body">
        <input type="password"/>
        <input type="password"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>




<div id="editGroups" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Permissions</h4>
      </div>
      <div class="modal-body">
        <div class="checkbox">
          <label><input type="checkbox" value=""/>Adminss</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value=""/>Employees</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value=""/>Interns</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>


<!--Edit Permissions-->

<div id="editAllergier" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Allergier</h4>
      </div>
      <div class="modal-body">
        <div class="checkbox">
          <label><input type="checkbox" value=""/>Nøddeallergi</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value=""/>Parfumeallergi</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value=""/>Lactoseintolerent</label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<!--JAVASCRIPT (skal være til sidst for gode loading tider)-->
<!-- BOOTSTRAP MaxCDN jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- BOOTSTRAP MaxCDN Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>