<!DOCTYPE html>
<!--Thymeleaf xlmns-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="fragments/head :: head">
    <!--Denne her normaliserer vores html siders head sektion, så vi kun skal skrive det et sted-->
  </head>
  <body>

    <!--Bootstrap container class er vigtig for at det virker, giver en lille margen ud til siderne
    i højre og venstre side-->
    <div class="container-fluid">

      <div class="row">
        <div th:replace="fragments/header :: header"/>
      </div>

      <div class="row">
        <div th:replace="fragments/sidebars :: admin"/>
        <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-3 main">

          <div class="row">
            <h1 th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}" class="text-capitalize">Kurt Klausen</h1>
          </div>

          <div class="row">
            <table class="table">
              <tbody>
              <tr>
                <th>Navn:</th>
                <td th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"  class="text-capitalize">Kurt Klausen</td>
                <td><a href="#" class="btn btn-edit pull-right" data-toggle="modal" data-target="#editName"><i class="fa fa-pencil"></i></a></td>
              </tr>
              <tr>
                <th>Email:</th>
                <td th:text="${user.getUserEmail()}">kurt@klausen.dk</td>
                <td><a href="#" class="btn btn-edit pull-right" data-toggle="modal" data-target="#editEmail"><i class="fa fa-pencil"></i></a></td>
              </tr>
              <tr>
                <th>Password:</th>
                <td>*********</td>
                <td><a href="#" class="btn btn-edit pull-right" data-toggle="modal" data-target="#editPassword"><i class="fa fa-pencil"></i></a></td>
              </tr>
              <tr th:if="${employeeDetails}">
                <th>Group:</th>
                <td th:text="${user.getGroup().getGroupName()}">Ledelsen</td>
                <td><a href="#" class="btn btn-edit pull-right" data-toggle="modal" data-target="#editGroups"><i class="fa fa-pencil"></i></a></td>
              </tr>
              </tbody>
            </table>
          </div>

          <div th:if="${employeeDetails}" class="row">
            <h3>Permissions: <a href="#" class="btn btn-edit" data-toggle="modal" data-target="#editPermissions"><i class="fa fa-pencil"></i></a></h3>

            <ul class="list-group">
              <li th:each="permission : ${user.getPermissions()}" th:text="${permission.getPermissionName()}" class="list-group-item">Tilføje Børn</li>
            </ul>
          </div>

        </div>
      </div>
    </div>


    <!-- Modal's -->

    <!--Edit Name-->
    <div id="editName" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <form th:action="${employeeDetails} ? @{/admin/update/employee} : @{/admin/update/parent}" method="post">
            <div class="modal-header">
              <!--Kryds knap-->
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Navn</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="firstName">Fornavn:</label>
              <input type="text" th:value="${user.getFirstName()}" name="firstName" required="true" id="firstName" class="form-control"/>
              </div>
              <div class="form-group">
                <label for="lastName">Efternavn:</label>
              <input type="text" th:value="${user.getLastName()}" name="lastName" required="true" id="lastName" class="form-control"/>
              <input type="hidden" th:value="${user.getUserId()}" name="ID"/>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Gem</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Annuller</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--Edit Email-->
    <div id="editEmail" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <form th:action="${employeeDetails} ? @{/admin/update/employee} : @{/admin/update/parent}" method="post">
            <div class="modal-header">
              <!--Kryds knap-->
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Email</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" th:value="${user.getUserEmail()}" name="email" required="true" id="email" class="form-control"/>
                <input type="hidden" th:value="${user.getUserId()}" name="ID"/>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Gem</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Annuller</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--Edit PASSWORD-->
    <div id="editPassword" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <form th:action="${employeeDetails} ? @{/admin/update/employee} : @{/admin/update/parent}" method="post">
            <div class="modal-header">
              <!--Kryds knap-->
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Password</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="oldPass">Gammel adgangskode:</label>
                <input type="password" name="oldPass" required="true" id="oldPass" class="form-control"/>
              </div>
              <div class="form-group">
                <label for="newPass">Ny adgangskode:</label>
              <input type="password" name="newPass" required="true" id="newPass" class="form-control"/>
              </div>
              <div class="form-group">
                <label for="repeatPass">Gentag ny adgangskode</label>
                <input type="password" name="newPassRepeat" required="true" id="repeatPass" class="form-control"/>
              </div>
              <input type="hidden" th:value="${user.getUserId()}" name="ID"/>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Gem</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Annuller</button>
            </div>
          </form>
        </div>
      </div>
    </div>


    <!--Edit Group-->
    <div th:if="${employeeDetails}" id="editGroups" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <form th:action="@{/admin/update/employee}" method="post">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Gruppe</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <select name="groupID" required="true" class="form-control">
                  <option th:each="group : ${allGroups}" th:value="${group.getId()}" th:text="${group.getGroupName()}" th:selected="${user.getGroup().getId()} == ${group.getId()} ? 'selected'">
                    nope
                  </option>
                </select>
              </div>
              <input type="hidden" th:value="${user.getUserId()}" name="ID"/>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Gem</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Annuller</button>
            </div>
          </form>
        </div>
      </div>
    </div>


    <!--Edit Permissions-->

    <div th:if="${employeeDetails}" id="editPermissions" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <form th:action="@{/admin/update/employee}" method="post">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Permissions</h4>
            </div>
            <div class="modal-body">
              <div th:each="generalPermission : ${generalPermissions}" class="checkbox">
                <label><input type="checkbox" name="permissionIDs" th:value="${generalPermission.getPermissionID()}" th:checked="${user.hasPermission(generalPermission)}"/><span th:text="${generalPermission.getPermissionName()}">Redigere Børn</span></label>
              </div>
              <input type="hidden" name="permissionIDs" value="-1"/>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Gem</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Annuller</button>
            </div>
            <input type="hidden" th:value="${user.getUserId()}" name="ID"/>
          </form>
        </div>
      </div>
    </div>

    <!--JAVASCRIPT (skal være til sidst for gode loading tider)-->
    <!-- BOOTSTRAP MaxCDN jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- BOOTSTRAP MaxCDN Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>