<!DOCTYPE html>
<!--Thymeleaf xlmns-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="fragments/head :: head">
    <!--Denne her normaliserer vores html siders head sektion, så vi kun skal skrive det et sted-->
  </head>
  <body>



    <!--Bootstrap container class er vigtig for at det virker, giver en lille margen ud til siderne
    i højre og venstre side-->
    <div class="container-fluid">

      <div class="row">
        <div th:replace="fragments/header :: header"/>
      </div>


        <div class="row">
          <div th:replace="fragments/sidebars :: admin"/>

          <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-3 main">
            <div class="row">
              <h1>Kurt Klausen</h1>
            </div>

            <table class="table">
              <tbody>
              <tr>
                <th>Navn:</th>
                <td>Kurt Klausen</td>
                <td><a href="#" class="btn btn-edit pull-right" data-toggle="modal" data-target="#editName"><i class="fa fa-pencil"></i></a></td>
              </tr>
              <tr>
                <th>Email:</th>
                <td>kurt@klausen.dk</td>
                <td><a href="#" class="btn btn-edit pull-right" data-toggle="modal" data-target="#editEmail"><i class="fa fa-pencil"></i></a></td>
              </tr><tr>
                <th>Password:</th>
                <td>[Hidden]</td>
                <td><a href="#" class="btn btn-edit pull-right" data-toggle="modal" data-target="#editPassword"><i class="fa fa-pencil"></i></a></td>
              </tr><tr>
                <th>Type:</th>
                <td>Leder, Ansat</td>
                <td><a href="#" class="btn btn-edit pull-right" data-toggle="modal" data-target="#editGroups"><i class="fa fa-pencil"></i></a></td>
              </tr>
              </tbody>
            </table>


            <h3>Permissions: <a href="#" class="btn btn-edit" data-toggle="modal" data-target="#editPermissions"><i class="fa fa-pencil"></i></a></h3>
            <ul class="list-group">
              <li class="list-group-item">Tilføje Børn</li>
              <li class="list-group-item">Redigere Børn</li>
              <li class="list-group-item">Slette Børn</li>
              <li class="list-group-item">Tilføje Forældre</li>
              <li class="list-group-item">Redigere Forældre</li>
              <li class="list-group-item">Slette Forældre</li>
              <li class="list-group-item">Checke Alle børn ind og ud</li>
            </ul>

          </div>
        </div>
    </div>



    <!-- Modal's -->

    <div id="editName" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <!--Kryds knap-->
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Name</h4>
          </div>
          <div class="modal-body">
            <input type="text"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>


    <div id="editEmail" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <!--Kryds knap-->
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Email</h4>
          </div>
          <div class="modal-body">
            <input type="text"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>

    <div id="editPassword" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <!--Kryds knap-->
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Password</h4>
          </div>
          <div class="modal-body">
            <input type="password"/>
            <input type="password"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>


    <div id="editGroups" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Permissions</h4>
          </div>
          <div class="modal-body">
            <div class="checkbox">
              <label><input type="checkbox" value=""/>Adminss</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""/>Employees</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""/>Interns</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>


    <!--Edit Permissions-->

    <div id="editPermissions" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Permissions</h4>
          </div>
          <div class="modal-body">
            <div class="checkbox">
              <label><input type="checkbox" value=""/>Tilføje Børn</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""/>Redigere Børn</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""/>Slette Børn</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""/>Tilføje Forældre</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""/>Redigere Forældre</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""/>Slette Forældre</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""/>Checke alle børn ind og ud</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!--JAVASCRIPT (skal være til sidst for gode loading tider)-->
    <!-- BOOTSTRAP MaxCDN jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- BOOTSTRAP MaxCDN Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>