<!DOCTYPE html>
<!--Thymeleaf xlmns-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head">
  <!--Denne her normaliserer vores html siders head sektion, så vi kun skal skrive det et sted-->
</head>
<body>

<!--Bootstrap container class er vigtig for at det virker, giver en lille margen ud til siderne
i højre og venstre side-->
<div class="container">

  <div class="row">
    <div th:replace="fragments/header :: header"/>
  </div>

  <!--For at Bootstrap grid system virker, her er en row.-->
  <div class="row">

    <div th:replace="fragments/sidebars :: parent"/>


  </div>
</div>





<!--JAVASCRIPT (skal være til sidst for gode loading tider)-->
<!-- BOOTSTRAP MaxCDN jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- BOOTSTRAP MaxCDN Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>